body {
  cursor: url("../icons/noodles.cur"), auto !important;
  /* TODO: light mode theme */
  /* background-color: #f1e3d3; */
  /* color: #513427; */
}

marquee {
  background-color: yellow;
  padding: 0.5em 0;
}

nav {
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

nav div {
  align-items: baseline;
  display: flex;
  justify-content: space-evenly;
}

nav a {
  text-align: center;
}

nav div a {
  margin-left: 1em;
}

nav img {
  max-height: 50px;
}

header {
  text-align: center;
}

h1 span {
  color: #48730c;
}

main {
  padding: 0 1em;
}

hr {
  margin: 1.5em 0;
}

a {
  color: #48730c;
}

@media (min-width: 768px) {
  main {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}

.dark {
  background-color: #202124;
  color: white;
}

.dark #images-toggle,
.dark marquee {
  color: initial;
}

.dark h1 span,
.dark a {
  color: #50fa7b;
}
