marquee {
  background-color: yellow;
  padding: 0.5em 0;
}

header {
  text-align: center;
}

main {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

hr {
  margin: 1.5em 0;
}

a {
  color: #48730c;
}

/* add mobile styling */
