/*Ugh add things*/
body {
  background-color: #2ABB9B;
  color: white;
  font-family: 'Inconsolata';
}

h1 {
  padding: 10 10 10 10;
  text-align: center;
}

.terminal-window {
  background-color: #BDC3C7;
  padding: 5 10 10 10;
}

.terminal {
  background-color: #22313F;
  padding: 10 10 10 10;
  
}

.comment {
  color: #BDC3C7;
}

.club {
  color: #4183D7;
  text-decoration: none;
}

