.card {
  /* width: 33.3%; */
  flex-basis: 32.4%;
  height: 25vw;
  text-align: center;
  margin: 0.5vh;
  display: flex;
  object-fit: cover;
  border-radius: 10px;
  box-sizing: border-box;
}

.card__img {
  width: 100%;
  object-fit: cover;
  border-radius:10px;
}

.experience {
  flex-basis: 49%;
}

.education {
  flex-basis: 65.8%;
}

@media(max-width: 900px) {
  .card {
    flex-basis: 32.4%;
  }
}

@media(max-width: 830px) {
  .card {
    flex-basis: 49%;
  }
}

@media(max-width: 830px) {
  .card {
    flex-basis: 48%;
    height: 40vw;
  }
}

@media(max-width: 630px) {
  .card {
    flex-basis: 90%;
    height: 60vw;
  }
}