.history {
  width: 100%;
  padding: 5px;
  text-align: center;
  display: flex;
  flex-flow: row-reverse;
  margin: 0 auto;
}

.history__side {
  width: 40vw;
  padding: 20px;
}

.history__profile {
  width: 100%;
}

.history__main {
  display: flex;
  width: 60vw;
  flex-direction: column;
  align-items: center;
}

.history__header {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
}

.history__header p {
  cursor: pointer;
}

.history__header_focused {
  padding: 1px 0;
  border-bottom: 1px solid #000;
}

.history__about {
  padding: 8px 5px 10px 5px;
  margin: 0px 10px 5px 10px;
  text-align: left;
  border-top: 1px solid #000;
  width: 75%;
  overflow-y: scroll;
}

.history__resume {
  width: 75%;
  height: 90vh;
  text-align: right;
  margin: 0 25px;
  border-top: 1px solid #000;
}

.history__gallery {
  padding: 0 10px 20px 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media(max-width: 940px) {
  .history__gallery {
    padding: 1vw;
  }
}

@media(max-width: 830px) {
  .history {
    background-color: #f1f1f1;
    padding: 0;
    display: flex;
    flex-flow: column-reverse;
    margin: 0 auto;
  }

  .history__side {
    padding: 0;
  }

  .history__profile {
    width: 100vw;
    padding: 0
  }

  .history__main {
    width: 100vw;
  } 

  .history hr {
    margin: 10px 0 2px 0;
  }
}