.profile {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.profile__bio {
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.profile__img {
  text-align: center;
}

.profile__img img {
  border-radius: 50%;
  border: 1px solid #b98;
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.profile__text {
  text-align: center;
  margin-top: 20px;
}

.profile__text p {
  justify-content: space-around;
  margin: 0px;
}

.profile__text h1 {
  margin: 0px;
  font-weight: 400;
}

.profile__stats {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px 0 10px 25px;
  font-size: 13px;
}

.profile__stats p {
  margin-right: 25px;
}

@media(max-width: 830px) {
  .profile__bio {
    flex-direction: row;
    justify-content: center;
  }

  .profile__img {
    flex-basis: 33%;
    margin-right: 30px;
  }

  .profile__text {
    flex-basis: 60%;
    text-align: left;
    margin: 0;
  }

  .profile__text p {
    margin: 0px;
    font-size: 14px;
  }

  .profile__stats {
    justify-content: flex-start;
    margin: 10px 0px 10px 0px;
    font-size: 14px;
  }
}

@media(max-width: 630px) {
  .profile__img {
    margin-right: 15px;
  }
  
  .profile__img img {
    width: 125px;
    height: 125px;
  }

  .profile__stats {
    display: flex;
    flex-direction: column;
  }

  .profile__stats p {
    margin-right: 10px;
  }
}